{% extends 'articles/home.html' %}
{% load static %}

{% block title %}Articles{% endblock title %}
<link href="{% static 'articles/home.css' %}" rel="stylesheet">
{% block body %}
<div class="news">
    <h3>Newspaper</h3>
    <h4>Home</h4>
    <h4>International</h4>
    <h4>Buissness</h4>
    <h4>Sport</h4>
    <h4>Fashion</h4>
</div>
<div class="head">
    <h1>The Independent Voice</h1>
</div>
{% for article in object_list %}
<div class="all">
    <div class="clas">
    <span class="elsi">{{article.title}}</span>
    <span>by {{article.author}} | {{article.date}}</span>
</div>
<div class="body">
    {{article.body}}
</div>
<div class="a">
    <a href="{% url 'article_edit' article.pk %}">Edit</a> |
    <a href="{% url 'article_delete' article.pk %}">Delete</a>
</div>
</div>
{% endfor %}
{% endblock %}