<!DOCTYPE html>
<html>
    <head>
        <title>Newspaper</title>
        {% load static %}
        <link href="{% static 'articles/home.css' %}" rel="stylesheet">
    </head>
    <body>
        <div class="news">
            <h3>Newspaper</h3>
            <h4>Home</h4>
            <h4>International</h4>
            <h4>Buissness</h4>
            <h4>Sport</h4>
            <h4>Fashion</h4>
        </div>
        <div class="head">
            <h1>The Independent Voice</h1>
        </div>
        {% block body %}
        {% endblock %}
    </body>
</html>