{% extends 'articles/home.html' %}
{% load static %}

{% block title %}Articles{% endblock title %}
<link href="{% static 'articles/home.css' %}" rel="stylesheet">
{% block body %}
{% for article in object_list %}
<div class="all">
    <div class="clas">
    <span class="elsi">{{article.title}}</span>
    <span>by {{article.author}} | {{article.date}}</span>
</div>
<div class="body">
    {{article.body}}
</div>
<div class="a">
    <a href="{% url 'edit' article.pk %}">Edit</a> |
    <a href="#">Delete</a>
</div>
<div class="comment">
    {% for comment in articles.comments.all %}
    <p>
        <span>
            {{comment.author}}
        </span>
    </p>
</div>
</div>
{% endfor %}
{% endblock %}