.news{
    display: flex;
    gap: 50px;
    background-color: black;
    color: aliceblue;
    padding-left: 10px;
    height: 50px;
}

.head{
    text-align: center;
}

.all{
    padding-left: 300px;
    margin: 50px;
}

.elsi{
    font-weight: bold;
}

.clas{
    border: 1px solid black;
    width: 700px;
    height: 40px;
    padding-left: 10px;
}

.body{
    border: 1px solid black;
    width: 700px;
    height: 40px;
    padding-left: 10px;
}

.a{
    text-align: center;
    border: 1px solid black;
    width: 700px;
    height: 40px;
    padding-left: 10px;

}

/* CSS for the update button */
.update-button {
    background-color: #28a745; /* Green background color */
    color: white; /* White text color */
    border: none; /* Remove default border */
    padding: 10px 20px; /* Padding for button */
    border-radius: 5px; /* Slightly rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    font-size: 16px; /* Font size */
    transition: background-color 0.3s ease; /* Smooth background color transition */
}

.update-button:hover {
    background-color: #218838; /* Darker green on hover */
}

.article-entry{
    padding: 50px;
    text-align: center;
}


.update-buttonn {
    background-color:red;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px; 
    transition: background-color 0.3s ease;
}

.update-buttonn:hover {
    background-color:red;
}


.delete {
    padding: 30px;
    text-align: center;
}

.jum{
    padding: 70px;
    margin-left: 120px;
    border: 1px solid lightgray;
    width: 700px;
    background-color: lightgray;
}

.f{
    background-color: blue;
    padding: 10px;
    color: aliceblue;
}